/* Minify using https://www.toptal.com/developers/cssminifier */
@font-face {
    font-family: 'Mosk Bold 700';
    src: url('../webfonts/Mosk_Bold_700.eot');
    /* IE9 Compat Modes */
    src: url('../webfonts/Mosk_Bold_700.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../webfonts/Mosk_Bold_700.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../webfonts/Mosk_Bold_700.woff') format('woff'),
        /* Pretty Modern Browsers */
        url('../webfonts/Mosk_Bold_700.ttf') format('truetype');
    /* Safari, Android, iOS */
}

h1,
h2,
h3,
h4,
h5,
h1>span,
h2[style],
legend {
    font-family: 'Mosk Bold 700', sans-serif !important;
    color: #353839;
}

p>span[style],
p>span[style]>*:not(sup),
ul>li>span[style],
article>p {
    font-size: 14px !important;
}

#mainNavLinks .dropdown-menu .nav-item {
    line-height: 2.5em;
}

.brand-name {
    padding-left: 20px;
}

.nav-row-one {
    margin-top: 1em;
    margin-left: -2em;
}

.nav-row-two {
    margin-top: -1em;
    margin-left: -2em;
}

#mainNavLinks>li>a:focus,
#mainNavLinks>li>a:hover,
#mainNavLinks>.active>a,
#mainNavLinks>.active>a:hover,
#mainNavLinks>.active>a:focus {
    box-shadow: 0em 0.1em 0em #FFFFFF, 0em 0.4em 0em 0px #FFD300;
}

#mainNavLinks ul.dropdown-menu li>a:focus,
#mainNavLinks ul.dropdown-menu li>a:hover,
#mainNavLinks ul.dropdown-menu li .active>a,
#mainNavLinks ul.dropdown-menu li .active>a:hover,
#mainNavLinks ul.dropdown-menu li .active>a:focus,
.dropdown-menu>.active>a {
    box-shadow: 0em 0.1em 0em #FFFFFF, -0.4em 0em 0em 0px #FFD300;
    background-color: initial;
}

.dropdown-menu>li>a {
    margin-left: 0.4em;
    padding: 0 20px;
    white-space: nowrap;
}

#logout-btn {
    padding: 0;
    margin: 0;
    margin-top: -0.2em;
    border: none;
}

#login-form {
    padding: 0.5em 0 0.5em 0.5em;
}

button .plg_system_eprivacy_accepted {
    padding: inherit;
    font-size: inherit;
    vertical-align: inherit;
    border: 0;
}

.so-shall li a,.so-shall li span {
    color: rgba(0,0,0, 0.65);
    width: 1em;
}

.so-shall li:hover a.fb,
.so-shall li:focus a.fb {
    color: #1877F2;
}

.so-shall li:hover a.tw,
.so-shall li:focus a.tw {
    color: #1DA1F2;
}

.so-shall li:hover a.in,
.so-shall li:focus a.in {
    color: #C13584;    
}

.so-shall li:hover a.st,
.so-shall li:focus a.st {
    color: #FC4C02;
}

.so-shall li:hover #login-btn,
.so-shall li:focus #login-btn {
    color: #FFD300;
}

.brand-image {
    max-width: 10em;
}

.so-shall-divider {
   border-right: 1px solid rgba(0,0,0, 0.65);
   margin-left: 0.5em;
}

/* To prevent drop-down menus disappearing on click https://stackoverflow.com/a/32984728/1433614 */
.dropdown {
    display: initial !important;
}

.dropdown-menu {
    border-radius: 0;
}

::selection {
    background: #FFD300;
}

.alert-syo {
    background-color: #FFD300;
    border-color: #ddd;
}

body,
html {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -300px;
    padding: 0 0 300px;
}

footer.footer {
    color: #DDD;
    padding-right: 0;
    padding-left: 0;
    margin-top: 50px;
    height: 300px;
}

footer a {
    color: #FFD300 !important;
    text-decoration: underline !important;
}

footer a:hover,
footer a:focus {
    color: #d4af00 !important;
}

.footerHeader {
    color: #DDD;
}

.footerBody {
    height: auto;
    background-color: #333;
}

.footerImage {
    /* To compensate for a Safari rendering bug */
    margin-bottom: -1px;
}

object.footerLogo {
    pointer-events: none;
    cursor: pointer;
}

.footerSponsors {
    display: flex;
    align-items: center;
}

a.mainNavLogo {
    position:relative;
    display:inline-block
}

a.mainNavLogo object{
    min-height:9rem;
    width:100%
}

a.mainNavLogo:after{
    content:"";
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0
}

.sitemap {
    column-count: 2;
}

.finalFooterRow {
    padding-bottom: 40px;
}

.inner-events {
    background-color: #FAFAFA;
    margin: 10px 0;
    padding: 0 1em 1em 1em;
    box-shadow: 2px 2px 2px 0px #ccc;
}

.eventsHeader>* {
    margin: 10px 0;
    display: inline-block;
}

.eventsHeader>a {
    line-height: 24px;
}

.inner-events>.list-group>a.list-group-item {
    color: #337AB7;
    border-radius: 0;
}

.inner-events>.list-group>a.list-group-item:hover {
    text-decoration: underline;
}

.inner-events .table td {
    background-color: #FAFAFA;
}

.syo-module {
    margin: 20px 0;
}

#also_on_this_page.inner-events {
    margin-bottom: 20px;
    margin-top: 0;
}

#also_on_this_page p {
    margin: 0.5em 0;
}

div.reset,
div.remind,
div.login,
div.logout,
div.profile {
    margin-top: 10px;
}

.k2customLinkWrapper {
    padding-top: 10px;
}

iframe#editModalIframe {
    border: none;
    width: 100%;
    height: 100%;
}

#loadingModal {
    margin-top: 15%;
}

#loadingModal p {
    font-size: 3em;
    margin-top: 1%;
    font-weight: bold;
}

#k2ModalContainer #adminForm {
    margin-top: initial;
}

p.eventSubtitle {
    font-size: 1.2em;
    color: #777;
}

p.eventSubtitle span {
    font-weight: bold;
    color: #333;
}

span.icon-calendar:after {
    font-family: "Font Awesome 6 Free";
    content: '\f133';
}

table.eventtable {
    margin-top: 20px;
}

div#jem div#jem_filter div {
    margin-bottom: 0.5em;
}

div.jem_venue>div#map-canvas {
    border: none;
}

p.mapcaveat {
    color: #777;
}

.news {
    border-left: 1px solid #DDD;
}

.newsGroup {
    margin-top: -20px;
}

.blog .blog-item {
    margin-bottom: 1em;
    border-bottom: 1px solid #DDD;
}

div .itemContainerItem {
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}

h1.catHead {
    display: inline-block;
}

.itemListCategoriesBlock {
    overflow: auto;
}

span.k2FeedIcon {
    font-size: 150%;
    line-height: 36px;
    margin-left: 10px;
}

span.k2FeedIcon>a>span {
    margin-bottom: 7px;
    vertical-align: middle;
}

input#k2ImageBrowseServer {
    width: 100%;
    margin-left: 0;
}

.itemDateModified,
.catItemDateModified,
.catItemDateCreated,
.article-info {
    color: #777;
}

.news-item-info span.article-info-sep {
    padding: 0 5px;
}

.contactHeader {
    margin-top: 20px;
    margin-bottom: 20px;
}

.contactPicture {
    width: 100%;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.contactPicture img {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    border: 5px solid #DDD
}

.contactRole,
.contactName {
    margin: 0;
}

.contact {
    margin-bottom: 20px;
    color: inherit;
}

.contactText {
    padding: 10px 5px;
    text-align: center;
}

.contact-link-grid>.col-sm-3:nth-child(4n+1) {
    clear: both;
}

@media(max-width:767px) {
    .contact-link-grid>.col-xs-6:nth-child(odd) {
        clear: both;
    }
}

select#limit,
select#filter_type {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

@media (min-width:768px) {

    select#limit,
    select#filter_type {
        display: inline-block;
        width: auto;
        vertical-align: middle;
    }
}

.hasTooltip {
    display: initial !important;
}

.btn,
.form-control,
.modal-content {
    border-radius: 0;
}

.progress {
    height: 0.5em;
    margin-bottom: 0;
    border-radius: 0;
    background-color: initial;
    box-shadow: initial;
    display: none;
}

.errorMsg {
    display: none;
}

.alert {
    border-radius: 0;
}

#browser-warning .alert {
    display: none;
    margin-top: 1em;
    margin-bottom: 0px;
}

.file_upload_button {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file_upload_button:focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.table>thead>tr>th {
    background-color: #ffd300;
}

.table>tbody>tr>th {
    background-color: #F5F5F5;
}

.table tbody>tr>td,
.table tr>th,
.table thead>tr>th {
    vertical-align: middle;
}

table>tbody>tr.year,
table>tbody>tr.year:hover {
    background-color: #DDD;
}

.banner {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.banner>.caption:after {
    content: attr(data-img-desc);
}

.caption {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    background-color: #FFD300;
    color: #333;
    padding: 0 5px;
}

.imgWrap {
    position: relative;
    display: table-cell;
}

.img-responsive {
    width: 100%;
}

.banner:hover>.caption,
.imgWrap:hover>.caption {
    display: inline-block;
}

#carousel-example-generic {
    margin: 0px !important;
}

#carousel-top>div {
    height: 250px !important;
}

.alert {
    margin-top: 10px;
    margin-bottom: 0;
}

.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-error hr {
    border-top-color: #e4b9c0;
}

.alert-error .alert-link {
    color: #843534;
}

a[href $='.pdf']:not([class~="no-filetype-link-icon"]):after {
    font-family: "Font Awesome 6 Free";
    content: " \f1c1";
}

a[href $='.doc']:not([class~="no-filetype-link-icon"]):after,
a[href $='.docx']:not([class~="no-filetype-link-icon"]):after {
    font-family: "Font Awesome 6 Free";
    content: " \f1c2";
}

a[href $='.xls']:not([class~="no-filetype-link-icon"]):after,
a[href $='.xlsx']:not([class~="no-filetype-link-icon"]):after {
    font-family: "Font Awesome 6 Free";
    content: " \f1c3";
}

a[href $='.txt']:not([class~="no-filetype-link-icon"]):after,
a[href $='.rtf']:not([class~="no-filetype-link-icon"]):after {
    font-family: "Font Awesome 6 Free";
    content: " \f15c";
}

a[href*="//"]:not([href*="southyorkshireorienteers.org.uk"]):not([class~="no-external-link-icon"]):after {
    /* From: https://codepen.io/simevidas/pen/MKdmeV */
    content: '(external link)';
    display: inline-block;
    width: 1em;
    height: 1em;
    text-indent: 1em;
    white-space: nowrap;
    overflow: hidden;
    background-image: url("../svg/externalLink.svg");
    background-repeat: no-repeat;
    background-size: 1em;
}

ul.eventPanel>li {
    margin-bottom: 5px;
}

.count {
    color: #000;
    font-weight: bold;
}