/**************** Fonts ****************/

p, span, strong, i, nav, ul, li, ol, a, div, input, label, td {
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h1 > span, h2[style], legend {
  font-family: 'Oxygen', sans-serif !important;
}

p > span[style], p > span[style] > *:not(sup), ul > li > span[style], article > p {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 14px !important;
}

/***************************************/

/*************** Nav Bar ***************/

/*------------ Nav Bar Logo -----------*/
.navbar-brand {
  padding: 0;
  height: 100px;
}

.navbar-brand > div {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0.5em;
}

.navbar-brand > img {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.navbar-brand span.name-top, .navbar-brand span.name-bottom {
  display: block;
}

.navbar-brand span.name-bottom {
  font-size: 27px;
}

/*------------ Main Nav Bar -----------*/

.navbar-collapse {
  padding-right: 0;
}

.mainNav li a {
  line-height: 50px;
}

.navbar-toggle {
  margin-top: 35px;
  margin-right: 0;
}

@media(max-width: 992px) {
  .mainNav li a {
     padding: 0 10px;
  }
}

@media(max-width:767px) {
  .mainNav li a {
    line-height: 50px;
  }

  .mainNav {
    margin-top: 0 !important;
  }
}

.mainNav {
  margin-top: 25px;
}

ul.mainNav li:last-child a {
  padding-right: 0;
}

.navbar-default .navbar-nav > li > a {
  font-size: 1em;
  text-transform: uppercase;
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-default .navbar-nav > li > a.endNavItem {
  padding-right: 0;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
  box-shadow: 0em 3.3em 0em #FFFFFF inset, 0em 3.6em 0em #ffd65e inset;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: transparent;
    box-shadow: 0em 3.3em 0em #FFFFFF inset, 0em 3.6em 0em #ffd65e inset;
}

/*----------- Social Nav Bar ----------*/

div ul.social {
  position: absolute;
  right: 0;
}

div ul.social li a, div ul.social li span {
  color: #777;
  padding-top: 0;
  padding-bottom: 0;
}

div ul.social li a:hover, div ul.social li a:focus {
  background-color: initial;
  color: #333;
}

#logout-btn {
  padding: 0 0 0 5px;
  margin: 0;
  border: none;

}

#login-btn {
  border-left: 1px solid;
  padding: 0 8px 0 15px;
  position: relative;
}

/*----------- Nav Bar Common ----------*/

.navbar-default {
  background: white;
  border-style: none;
  border-bottom: 3px;
  margin-top: 20px;
}

.navbar-brand > span, ul.social li, ul.social li *, div ul.social li.login-text div form span {
  display: -webkit-inline-box;    /* OLD - iOS 6-, Safari 3.1-6 */
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;    /* TWEENER - IE 10 */
  display: inline-flex;           /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/***************************************/

/**************** Footer ***************/

/*body, html {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -200px;
  padding: 0 0 200px;
}

footer {
  width: 100%;
  background-color: #333;
  color: #DDD;
}

.footer-image {
  padding-top: 50px;
  margin: auto;
}

.finalFooterRow {
  margin-bottom: 40px;
}
*/

body, html {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -300px;
  /* Pad bottom by footer height */
  padding: 0 0 300px;
}

footer.footer {
  /*background: #999 url("../images/SYO_Footer_Silhouette.svg") no-repeat top;*/
  color: #DDD;
  padding-right: 0;
  padding-left: 0;
  margin-top: 50px;

  height: 300px;
}

.footerImage {
  /*height: auto;*/
  /*background: #999 url("../images/SYO_Footer_Silhouette.svg") no-repeat top;*/
}

.footerImage .img-responsive {
  width: 100% \9;
  width: auto;
}

.footerBody {
  height: auto;
  background-color: #333;
}

.finalFooterRow {
  margin-bottom: 40px;
}

/***************************************/

/**************** Events ***************/

.inner-events {
  background-color: #FAFAFA;
  margin: 10px 0;
  padding: 5px 10px;

  -webkit-box-shadow: 2px 2px 2px 0px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow:    2px 2px 2px 0px #ccc;  /* Firefox 3.5 - 3.6 */
  box-shadow:         2px 2px 2px 0px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

.eventsHeader > * {
  margin: 10px 0;
  display: inline-block;
}

.eventsHeader > a {
  line-height: 24px;
}

/***************************************/

/*************** com_users *************/

div.reset, div.remind, div.login, div.logout, div.profile {
  margin-top: 10px;
}

/***************************************/

/**************** com_k2 ***************/

form div#k2FrontendEditToolbar {
  display: none;
}

iframe#editModalIframe {
  border: none;
  width: 100%;
  height: 100%;
}

#loadingModal {
  margin-top: 15%;
}

#loadingModal p {
  font-size: 3em;
  margin-top: 1%;
  font-weight: bold;
}

/***************************************/

/************** Event Page *************/

p.eventSubtitle {
  font-size: 1.2em;
  
  color: #777;
}

p.eventSubtitle span {
  font-weight: bold;
  color: #333;
}

span.icon-calendar:after {
  font-family: FontAwesome;
  content: '\f133';
}

table.eventtable {
  margin-top: 20px;
}

div.jem_venue > div#map-canvas {
  border: none;
}

p.mapcaveat {
  color: #777;
}

/***************************************/   

/***************** News ****************/

.news {
  border-left: 1px solid #DDD;
}

.newsGroup {
  margin-top: -20px;
}

.itemContainer article.news-item {
  padding: 1px 0 20px 0;
  margin: 10px 0px;
  border-bottom: 1px solid #DDD;
}

div .itemContainerItem {
  border-bottom: 1px solid #888;
  padding-bottom: 10px;
}

h1.catHead {
  display: inline-block;
}

span.k2FeedIcon {
  font-size: 150%;
  line-height: 36px;
  margin-left: 10px;
}

span.k2FeedIcon > a > i {
  margin-bottom: 7px;
  vertical-align: middle;
}

.news-item-info, .itemDateModified, .catItemDateModified, .catItemDateCreated {
  color: #777;
  margin-top: -0.5em;
  padding-bottom: 0.8em;
} 

.news-item-info span.article-info-sep {
  padding: 0 5px;
}

/***************************************/

/*************** Contacts **************/

.contactPicture {
  width: 100%;
}

.contactRole, .contactName {
  margin: 0;
}

.contact {
  margin-bottom: 20px;
  color: inherit;
}

.contactText {
  padding: 10px 5px;
  text-align: center;
}

.contact:hover .contactText, .contact:focus .contactText {
  background-color: #ffd65e; 
}

.contact:hover, .contact:focus {
  text-decoration: none;
  color: inherit;
}

form#contact-form fieldset legend {
  font-size: initial;
}

.link-grid > .col-sm-3:nth-child(4n+1) {
  clear: both;
}

@media(max-width:767px) {
  .link-grid > .col-xs-6:nth-child(2n+1) {
      clear: both;
  }
}

/***************************************/

/********** JEM Table Filter ***********/
/* Styles the pagination limit boxes to 
 * be in the bootstrap style. Not 
 * possible to alter class directly as 
 * can't override pagination.php easily*/

select#limit, select#filter_type {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

@media (min-width: 768px) {
  select#limit, select#filter_type {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.hasTooltip {
  display: initial!important;
}

/***************************************/

/**************** Forms ****************/

input[id^="jform"], input#geocomplete, textarea[id^="jform"], select, select.inputbox, input.text_area { 
/*input:not([type='radio']):not([type='submit']):not([type='button']):not([type='checkbox']), textarea, select {*/
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

textarea[id^="jform"], select[id^="jform"][multiple], select.inputbox[multiple] {
  height: auto;
}

/* When there is no access to a label, style it like bootstrap one */
@media (min-width: 768px) {
  form > fieldset > div.form-group > div.cantAccessLabel {
    text-align: right;
  }
}

form#venue-form > div.event-buttons, form#adminForm > div.event-buttons {
  margin-top: -46px;
}

/*select, textarea, input:focus, .form-control:focus {
  border-color: #ffd65e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255,187,3, 0.6);
}*/

/***************************************/

/*************** Tables ****************/

table>thead>tr {
  background-color: #FFD65E; 
}

.table tbody>tr>td, .table tr>th, .table thead>tr>th {
  text-align: center;
  vertical-align: middle;
}

table>tbody>tr.year, table>tbody>tr.year:hover {
  background-color: #DDD;
}

/***************************************/

/*************** Banner ****************/

/* From http://stackoverflow.com/a/17353785 */

.banner {
  width:  100%; /*or 70%, or what you want*/
  height: 250px; /*or 70%, or what you want*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Fix for Joomla carousel shrinking on even images
  http://stackoverflow.com/a/24291854 */

#carousel-example-generic {
  margin:0px !important;
}

#carousel-top>div {
  height:250px !important;
}

/***************************************/

/************* Breadcrumbs **************/

ol.breadcrumb {
  border-radius: 0;
  background-color: inherit;
  padding: 0;
  margin: 10px 0 0 0;
}

/***************************************/

/*************** Alerts ****************/

.alert {
  margin-top: 10px;
  margin-bottom: 0;
}

/* To style JEM system messages */
.alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-error hr {
  border-top-color: #e4b9c0;
}
.alert-error .alert-link {
  color: #843534;
}

/***************************************/

/**************** Links ****************/

/* From: http://askthecssguy.com/articles/showing-hyperlink-cues-with-css/ */
a[href $='.pdf']:after {
  font-family: FontAwesome;
  content: " \f1c1";
}

a[href $='.doc']:after, a[href $='.docx']:after {
  font-family: FontAwesome;
  content: " \f1c2";
}

a[href $='.xls']:after, a[href $='.xlsx']:after {
  font-family: FontAwesome;
  content: " \f1c3";
}

a[href $='.txt']:after, a[href $='.rtf']:after {
  font-family: FontAwesome;
  content: " \f0f6";
}

/* From: http://davidwalsh.name/external-links-css */
a[href*="//"]:not([href*="beta.southyorkshireorienteers.org.uk"]):not([class="no-external-link-icon"]):after {
  font-family: FontAwesome;
  content: " \f08e";
}

/***************************************/

/************ Other/Unknown ************/

.firstEventPanel {
  margin-top: 69px;
}

ul.eventPanel > li {
  margin-bottom: 5px;
}

/***************************************/
